<form action="">

    <p>Nome do jogador: </p>
    <input type="text" name="nome">
    
    <p>Data de nascimento: </p>
    <input type="date" name="nascimeto">
    
    <p>Altura do jogador</p>
    <input type="number" name="altura">
    
    <p>Posição do jogador</p>
    <input type="text" name="nome_poiscao">

    <button type="submit">Enviar informações</button>

</form>