body{
  font-family: Open sans extra bold, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  height: 100% ;
  /* background-image: url(https://cdn.pixabay.com/photo/2014/10/14/20/24/soccer-488700_960_720.jpg); */
  /* background-repeat: no-repeat; */
}
 
/* Laranja do logo: #EF5B00 */

footer{
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.navbar{
    /* background-color: black; */
    /* color: white; */
    /* height: 450px; */
    /* width: 200px; */
    top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 2;
  width: 100%;
  opacity: 2.0;
}
a:hover{
  color:#EF5B00 
}
li a:active{
  color: #fff;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 0.9em;
  transition: 0.5s;
}

.sticky + .content {
  padding-top: 60px;
}
header{
    background-color: #333;
    padding: 9px;
    display: block;
    width: 100%;
  /* background-color: #333; */
  /* opacity : 0.5; */
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 500px;
    /* position: fixed; */
    /* text-shadow: 0px 0px 2px whitesmoke; */
    /* opacity : 0.5; */
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  li a:hover:not(.active) {
    color:#EF5B00;
  }

  #googleForms{
    margin-left: 23%;
  }
  
  .active {
    background-color: #4CAF50;
  }

  #paginaDesenv{
      float: right;
  }

  /* pagina sobre */
  .about {
    padding: 50px;
    text-align: center;
    background-color: #EF5B00;
    color: white;
  }

  /* ====================CARD=============================== */

.card {
    /* background-color: #333; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 8px auto;
    transition: 0.3s;
    /* width: 50px; */
    /* margin: 0 auto; */
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.281);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }




  .circulo{
    background-color: #EF5B00;
    color: #EF5B00;
    border-color: #EF5B00;
  }



  /* Formulário */
  .form{
    /* float: Inline block margin 0 auto; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }

#divLogo{
  width: 200px;
  /* height: 100px; */
  margin: 0 auto;
}

#logoHeader{
  width: 80px;
  height: 80px;
  /* position: absolute; */
}

#nameHeader{
  width: 82px;
  height: 80px;
}

#form{
  position: relative;
  margin-left: 50px;
  margin-top: 150px;
  
}

/* ======================================================= */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* ======================Portfolio Jogadores=============================== */
#portfolio .portfolio-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
  position: justify;
  margin: 0 auto;
}
#navigation{
  position: -webkit-sticky;
  position: sticky;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 123, 0, 0.678);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.portfolio-modal .modal-content h2, .portfolio-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.portfolio-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.portfolio-modal .modal-content p {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.img-fluid{
  transition: 0.3s ;
  position: static;
  z-index: -1;
  display: block;
}
.img-fluid:hover{
  opacity: 0.5;
  z-index: -1;
}
.fa-circle{
  color:#EF5B00;
}


.btn{
  background-color: #333333;
  transition: 0.3s;
}
.btn:hover{
  color: #EF5B00;
}

.img__wrap {
  position: relative;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(36, 62, 206, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}


